genmc

*~
\#*\#
*.bak
*.backup
.*.sw[a-z]

*.o

*.ll
*.out

kater/kater

kater/.deps
kater/Lexer.hpp
kater/Lexer.cpp
kater/Parser.hpp
kater/Parser.cpp
kater/location.hh

Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.h
config.h.in
config.guess
config.status
config.log
configure
depcomp
install-sh
missing
stamp-*
ylwrap