genmc

*~
\#*\#
*.bak
*.backup
.*.sw[a-z]

*.o

*.ll
*.out

kater/src/kater

kater/src/.deps
kater/src/Lexer.hpp
kater/src/Lexer.cpp
kater/src/Parser.hpp
kater/src/Parser.cpp
kater/src/location.hh

Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache
compile
config.h
config.h.in
config.guess
config.status
config.log
configure
depcomp
install-sh
missing
stamp-*
ylwrap